body {
    background-size: cover;
  }

  #gifs {
    object-fit: contain;
  }

  #gif-wrapper {
    position: fixed;
    border-radius: 50%;
    border: 2px solid #e2dccd; 
    background: black; 
    width: 15vw;
    height: 25vh;
    top: 2%;
    right: 5%;
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
    overflow: hidden; 
  }