:root {
  --greyLightest: #e6eaef;
  --white: #ffffff;
  --grey: #c8d1dc;
  --fontFamily: GraphikRegular, 'Helvetica Neue', Sans-Serif;
  /* https://github.com/daily-co/north-star/blob/master/packages/shared/contexts/Theme/theme.ts */
}

body {
  flex: 1;
  background-color: var(--greyLightest);
  font-family: var(--fontFamily);
}

button {
  padding: 8px 16px;
  align-items: center;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 700;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  width: 80%;
  margin: 0 auto;
  border: 2px solid red;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input {
  width: 300px;
  line-height: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 8px;
}

#instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16;
  margin-bottom: 8;
  width: 100%;
}

#create-demo-room {
  background-color: var(--white);
  border-width: 1px;
  border-color: var(--grey);
}

#call-container {
  display: flex;
  width: 100%;
  /* flex: 1; 
  width: 67%;
  height: 67%; ; 
  margin: 0 auto; 
  display: flex;  
  flex-direction: row; 
  justify-content: space-between; */
}

#callframe {
  /* width: 100%;  */
  flex: 2;
  max-width: 500px;
  max-height: 500px;
  /* min-width: 450px; */
  min-height: 450px;
}

#call-panel {
  display: none;
  flex: 1;
  flex-direction: column;
  border: 1px solid #c8d1dc;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 2px 2px rgba(0, 0, 0, 0.04);
  background: #ffffff;
  margin-left: 16px;
  font-size: 12px;
  /* display: none; 
  flex-direction: column; 
  align-items: flex-end;  
  justify-content: space-between;  */
}

#call-panel h2,
h3,
li {
  font-size: 12px;
}

#call-panel h2 {
  margin: 0 0 8px 0;
}

#call-panel h3 {
  margin: 0px;
}

#call-panel ul {
  padding-left: 16px;
}

#logo {
  width: 90px;
}

.info {
  box-shadow: 1px 0 0 #c8d1dc, 0 1px 0 #c8d1dc;
  flex-shrink: 0;
  padding: 16px;
  /* border: 1px solid var(--grey); 
  background-color: var(--white);
  border-radius: 4px; 
  display: flex; 
  flex-direction: column; 
  height: 29%; 
  position: relative; 
  width: 87%; 
  padding: 3%; 
  overflow: hidden;  */
}

#meeting-room-info {
  /* display: flex; 
  justify-content: space-around; */
  border: 1px solid #c8d1dc;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 2px 2px rgba(0, 0, 0, 0.04);
}

#copy-link {
  display: none;
  margin-left: 100px;
}

#input-and-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
